@charset "utf-8";

body{
	background-color:lightgoldenrodyellow;
}

img{
	width: 300px;
}

img:hover {
	border: dotted brown 5px;
	border-radius: 50%;
	width: 340px;
}


h3 {
  color: saddlebrown;text-shadow: 2px 2px 5px white;font-family: "Lucida Console";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
